# Folders
.gemini
.git
.github
.vscode
coverage
dist
docs
node_modules

# Files
.dockerignore
.editorconfig
.gitignore
.markdownlint-cli2.yaml
.markdownlint.yaml
.prettierignore
.prettierrc.yaml
*.md
*.test.ts
*.tsbuildinfo
*.txt
Dockerfile
eslint.config.ts
jsr.json
tsconfig.eslint.json
typedoc.json
vitest.config.ts
