# Folders
.gemini
.git
.github
.vscode
coverage
dist
docs
node_modules

# Files
.dockerignore
.editorconfig
.gitignore
.prettierignore
.prettierrc.yaml
*.md
*.test.ts
*.tsbuildinfo
*.txt
Dockerfile
eslint.config.ts
tsconfig.eslint.json
typedoc.json
